@model ManageProductViewModel

@{
    ViewData["Title"] = "Manage";
}



<h2>@Model.FormCaption</h2>
<hr />
<form asp-action="Manage" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Product.ProductId" />
    <div class="form-group">
        <label asp-for="Product.Code" class="control-label"></label>
        <input asp-for="Product.Code" class="form-control" />
        <span asp-validation-for="Product.Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Url" class="control-label"></label>
        <input asp-for="Product.Url" class="form-control" />
        <span asp-validation-for="Product.Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Title" class="control-label"></label>
        <input asp-for="Product.Title" class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ShortDescription" class="control-label"></label>
        <textarea asp-for="Product.ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label"></label>
        <textarea asp-for="Product.Description" class="form-control tinymce"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div id="product-images-administration">
        @{
            for (int i = 0; i < Model.Product.ImagesCount; i++)
            {
                <div>
                    <img src="/images/products/@(Model.Product.ProductId)_@(i).jpeg" alt="@Model.Product.Title - @(i+1)" />
                    <a href="#" data-image-index="@i"><span aria-hidden="true" class="fa fa-remove"></span></a>
                </div>
            }
        }
    </div>
    <div class="form-group">
        <label asp-for="UploadedImages" class="control-label"></label>
        <input asp-for="UploadedImages" class="form-control" multiple />
        <span asp-validation-for="UploadedImages" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">                
                <label asp-for="PostedCategories" class="control-label col-md-2" style="padding-left:0px;"></label>
                <div class="col-md-10">
                    <div style="padding-left:20px;">
                        @{
                            for (int i = 0; i < Model.AvailableCategories.Count; i++)
                            {
                                <p>
                                    <input asp-for="PostedCategories[i]" type="checkbox" />
                                    @Model.AvailableCategories[i].Title
                                </p>
                            }
                        }
                    </div>
                    <span asp-validation-for="PostedCategories" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Product" asp-action="Clear" asp-route-id="@Model.Product.ProductId" class="btn btn-info mt-1 mb-1">Odstrániť kategórie</a>
            <h6 class="text-"><em>Produkt je zaradený v týchto kategóriách</em>:</h6>
            <ul>
                @foreach (var cp in Model.Product.CategoryProducts)
                {
                    <li>@cp.Category.Title</li>
                }
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.OldPrice" class="control-label"></label>
        <input asp-for="Product.OldPrice" class="form-control" />
        <span asp-validation-for="Product.OldPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Product.Stock" class="form-control" type="hidden" />
        <span asp-validation-for="Product.Stock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Product.ImagesCount" class="form-control" type="hidden" />
        <span asp-validation-for="Product.ImagesCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="Product.Hidden" type="hidden" />
            </label>
        </div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <div class="form-group">
                <input type="submit" value="Uložiť" class="btn btn-success btn-lg" />
            </div>
        </li>
        <li class="list-inline-item">
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Product.ProductId" class="btn btn-lg btn-danger">Vymazať produkt</a>
        </li>
    </ul>
</form>






@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.1/tinymce.min.js"></script>
    <script src="~/js/initTinyMCE.js"></script>
    <script>
    $(document).ready(function () {
        $("#product-images-administration a").click(function (e) {
            if (confirm('Naozaj si prajete odstrániť vybraný náhľad?')) {
                var element = $(this);
                $.post('@Url.Action("DeleteImage")', { productID: $('#Product_ProductId').val(), imageIndex: element.data('image-index') }, function (result) {
                    // Posun IDčiek za odstraněným obrázkom o 1 dozadu
                    var oldUrls = element.parent().nextAll().children("a");
                    for (var i = 0; i < $(oldUrls).length; i++) {
                        var newIndex = $(oldUrls[i]).data('image-index') - 1;
                        $(oldUrls[i]).data('image-index', newIndex);
                    }
                    // Odstranenie náhľadu obrázku
                    element.parent().remove();
                    // Zníženie počtu obrázkov v skrytom poli
                    var imagesCount = $('#Product_ImagesCount');
                    var currentVal = parseInt(imagesCount.val());
                    if (!isNaN(currentVal) && currentVal > 0) {
                        imagesCount.val(currentVal - 1);
                    }
                });
            }
        });
    });
    </script>
}


