@using E_Shop.Extensions
@model OrderSummaryViewModel

@{ string fullName = string.IsNullOrEmpty(Model.PersonDetail.CompanyName) ? Model.PersonDetail.FirstName + " " + Model.PersonDetail.LastName : Model.PersonDetail.CompanyName;}

<style>
    .card-header {
        background-color: #F2FDFD;
    }
    #totalPrice{
        color:red;
    }
</style>

<table class="table table-bordered">
    <thead>
        <tr class="table-primary">
            <th class="w-50 text-left align-middle"> Produkt</th>
            <th class="w-25 text-center align-middle">Množstvo (ks)</th>
            <th class="w-25 text-center align-middle">Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr class="table-light">
                <td class="text-left">@item.Title</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center">@item.Price</td>
            </tr>
        }
    </tbody>
    <tfoot>
    <tfoot>
        <tr class="table-info text-center">
            <td><strong>Celkom</strong></td>
            <td>@Model.OrderSummary.Quantity</td>
            <td><strong>@string.Format("{0} €", @Model.OrderSummary.Price - Model.TransportMethod.Price)</strong></td>
        </tr>
    </tfoot>
</table>
<div class="row">
    <div class="col-md-6">
        <div class="card w-100 mt-5">
            <div class="card-header">
                <h4 class="font-italic">Kontaktné údaje</h4>    
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Meno a Priezvisko</strong></p>
                    </div>
                    <div class="col-auto">@fullName</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>E-mail</strong></p>
                    </div>
                    <div class="col-auto">@Model.PersonDetail.Email</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Telefón</strong></p>
                    </div>
                    <div class="col-auto">@Model.PersonDetail.PhoneNumber</div>
                </div>
            </div>
        </div>
        <div class="card w-100 mt-5">
            <div class="card-header">
                <h4 class="font-italic">Doprava a platba</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="font-weight-bold">Doprava</h5>
                        <p>@Model.TransportMethod.Title @Model.TransportMethod.Price€</p>
                    </div>
                    <div class="col">
                        <h5 class="font-weight-bold">Platba</h5>
                        <p>@Model.WayOfPayment.Title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card w-100 mt-5">
            <div class="card-header">
                <h4 class="font-italic">Fakturačná adressa</h4>
            </div>
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.PersonDetail.CompanyName))
                {
                    <div class="row mb-1">
                        <div class="col-12">@Model.PersonDetail.CompanyName</div>
                    </div>
                }
                <div class="row mb-1">
                    <div class="col-12">@Model.Address.StreetNameAndHouseNumber</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.Address.City</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.Address.PostalCode</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.Address.Country</div>
                </div>
            </div>
        </div>
        <div class="card w-100 mt-5">
            <div class="card-header">
                <h4 class="font-italic">Dodacia adressa</h4>
            </div>
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.PersonDetail.CompanyName))
                {
                    <div class="row mb-1">
                        <div class="col-12">@Model.PersonDetail.CompanyName</div>
                    </div>
                }
                <div class="row mb-1">
                    <div class="col-12">@Model.DeliveryAddress.StreetNameAndHouseNumber</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.DeliveryAddress.City</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.DeliveryAddress.PostalCode</div>
                </div>
                <div class="row mb-1">
                    <div class="col-12">@Model.DeliveryAddress.Country</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5 float-right">
    <h4>Celkom bez DPH @string.Format("{0}€", (@Model.OrderSummary.Price - Model.TransportMethod.Price) * 0.8m)</h4>
    <h4>Celkom vrátane DPH @string.Format("{0}€", @Model.OrderSummary.Price - Model.TransportMethod.Price)</h4>
    <h4>Doprava @Model.TransportMethod.Price€</h4>
    <h4 class="font-weight-bold" id="totalPrice">K úhrade celkom @Model.OrderSummary.Price€</h4>
</div>